@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Add background image to the body */
html,
body {
  padding: 0;
  height: 100%;
  /* ensures full viewport height */
  overflow-x: hidden;
  background-image: url('./assets/Loginform/bgImage-2.png');
  background-size: cover;
  /* scales to fill */
  background-position: center;
  /* keeps it centered */
  background-repeat: no-repeat;
}